*~
*.pem
*.pyc
*.swp
.*
!.git*

/core
/core.*
/vgcore
/vgcore.*

/build
/docs/doxygen
/run
/src/modules

/configure.json
/modules/contrib/*.cpp
/modules/contrib/installed-modules.json
/modules/geo_maxmind.cpp
/modules/hash_argon2.cpp
/modules/hash_gnutls.cpp
/modules/ldap.cpp
/modules/log_syslog.cpp
/modules/mysql.cpp
/modules/pgsql.cpp
/modules/regex_pcre2.cpp
/modules/regex_posix.cpp
/modules/regex_re2.cpp
/modules/regex_tre.cpp
/modules/rehashsignal.cpp
/modules/sqlite3.cpp
/modules/ssl_gnutls.cpp
/modules/ssl_openssl.cpp
/src/windows/CMakeUserPresets.json
