*~
*.pem
*.swp

/.config.cache
/.modulemanager
/BSDmakefile
/GNUmakefile
/build
/docs/doxygen
/inspircd
/org.inspircd.plist
/run
/bin

/include/inspircd_config.h
/include/inspircd_version.h

/src/modules/m_geoip.cpp
/src/modules/m_ldapauth.cpp
/src/modules/m_ldapoper.cpp
/src/modules/m_mssql.cpp
/src/modules/m_mysql.cpp
/src/modules/m_pgsql.cpp
/src/modules/m_regex_pcre.cpp
/src/modules/m_regex_posix.cpp
/src/modules/m_regex_stdlib.cpp
/src/modules/m_regex_tre.cpp
/src/modules/m_sqlite3.cpp
/src/modules/m_ssl_gnutls.cpp
/src/modules/m_ssl_openssl.cpp

