Adam <Adam@anope.org>                        Adam <adam@inspircd.org>
Adam <Adam@anope.org>                        Adam <adam@sigterm.info>
Ariadne Conill <ariadne@dereferenced.org>    nenolod <nenolod@e03df62e-2008-0410-955e-edbf42e46eb7>
Ariadne Conill <ariadne@dereferenced.org>    William Pitcock <nenolod@dereferenced.org>
Attila Molnar <attilamolnar@hush.com>        Attila Molnar <am63770@gmail.com>
Attila Molnar <attilamolnar@hush.com>        attilamolnar <am63770@gmail.com>
Attila Molnar <attilamolnar@hush.com>        attilamolnar <attilamolnar@hush.com>
blitmap <blitternet@gmail.com>               Pogs McPoggerson <sir.pogsalot@gmail.com>
blitmap <blitternet@gmail.com>               Sir Poggles <sir.pogsalot@gmail.com>
blitmap <blitternet@gmail.com>               Sir Pogsalot <sir.pogsalot@gmail.com>
ChrisTX <xpipe@hotmail.de>                   ChrisTX <chris@rev-crew.info>
Craig Edwards <brain@inspircd.org>           (no author) <(no author)@e03df62e-2008-0410-955e-edbf42e46eb7>
Craig Edwards <brain@inspircd.org>           brain <brain@e03df62e-2008-0410-955e-edbf42e46eb7>
Craig Edwards <brain@inspircd.org>           root <root@e03df62e-2008-0410-955e-edbf42e46eb7>
Craig McLure <craig@frostycoolslug.com>      frostycoolslug <frostycoolslug@e03df62e-2008-0410-955e-edbf42e46eb7>
Daniel De Graaf <danieldg@inspircd.org>      danieldg <danieldg@e03df62e-2008-0410-955e-edbf42e46eb7>
Daniel Vassdal <shutter@canternet.org>       Daniel Vassdal <daniel@Daniel-Debian>
Daniel Vassdal <shutter@canternet.org>       Daniel Vassdal <daniel@daniel-VirtualBox.(none)>
Daniel Vassdal <shutter@canternet.org>       Daniel Vassdal <daniel@ubuntu.(none)>
Daniel Vassdal <shutter@canternet.org>       Daniel Vassdal <daniel@vassdal.org>
Daniel Vassdal <shutter@canternet.org>       ShutterQuick <shutter@canternet.org>
Dennis Friis <peavey@inspircd.org>           peavey <peavey@e03df62e-2008-0410-955e-edbf42e46eb7>
DjSlash <djslash@djslash.org>                Rutger <djslash+github@djslash.org>
Geoff Bricker <geoff.bricker@gmail.com>      bricker <bricker@e03df62e-2008-0410-955e-edbf42e46eb7>
Herman <GermanAizek@yandex.ru>               GermanAizek <GermanAizek@yandex.ru>
iwalkalone <iwalkalone69@gmail.com>          iwalkalone <iwalkalone69@users.noreply.github.com>
jackmcbarn <jackmcbarn@inspircd.org>         Jackmcbarn <jackmcbarn@jackmcbarn.no-ip.org>
James Lu <GLolol@overdrivenetworks.com>      James Lu <GLolol1@hotmail.com>
John Brooks <john@jbrooks.io>                special <special@e03df62e-2008-0410-955e-edbf42e46eb7>
Justin Crawford <Justasic@Gmail.com>         Justasic <Justasic@gmail.com>
linuxdaemon <linuxdaemon.irc@gmail.com>      linuxdaemon <linuxdaemon@snoonet.org>
linuxdaemon <linuxdaemon.irc@gmail.com>      linuxdaemon <linuxdaemon@users.noreply.github.com>
Matt Schatz <genius3000@g3k.solutions>       genius3000 <genius3000@g3k.solutions>
Matt Smith <dz@inspircd.org>                 dz <dz@e03df62e-2008-0410-955e-edbf42e46eb7>
md_5 <git@md-5.net>                          md-5 <md-5@users.noreply.github.com>
Oliver Lupton <om@inspircd.org>              om <om@e03df62e-2008-0410-955e-edbf42e46eb7>
Pippijn van Steenhoven <pip88nl@gmail.com>   pippijn <pippijn@e03df62e-2008-0410-955e-edbf42e46eb7>
Robby <robby@chatbelgie.be>                  Robby <Robby-@users.noreply.github.com>
Robby <robby@chatbelgie.be>                  Robby- <robby@chat.be>
Robby <robby@chatbelgie.be>                  Robby- <robbyke@gmail.com>
Robin Burchell <robin+git@viroteck.net>      Robin Burchell <viroteck@viroteck.net>
Robin Burchell <robin+git@viroteck.net>      w00t <w00t@e03df62e-2008-0410-955e-edbf42e46eb7>
Sadie Powell <sadie@witchery.services>       Peter Powell <petpow@saberuk.com>
satmd <satmd@satmd.de>                       satmd <satmd@lain.at>
satmd <satmd@satmd.de>                       satmd <satmd@users.noreply.github.com>
Thomas Stagner <aquanight@gmail.com>         aquanight <aquanight@e03df62e-2008-0410-955e-edbf42e46eb7>
Uli Schlachter <psychon@znc.in>              psychon <psychon@e03df62e-2008-0410-955e-edbf42e46eb7>
Val Lorentz <progval+git@progval.net>        Valentin Lorentz <progval+git@progval.net>
Val Lorentz <progval+git@progval.net>        Val Lorentz <progval+github@progval.net>

# The identities of the following people could not be verified. If you have an
# email address for them please contact Sadie.
burlex <unknown@email.invalid>        burlex <burlex@e03df62e-2008-0410-955e-edbf42e46eb7>
eggy <unknown@email.invalid>          eggy <eggy@e03df62e-2008-0410-955e-edbf42e46eb7>
fez <unknown@email.invalid>           fez <fez@e03df62e-2008-0410-955e-edbf42e46eb7>
jamie <unknown@email.invalid>         jamie <jamie@e03df62e-2008-0410-955e-edbf42e46eb7>
katsklaw <unknown@email.invalid>      katsklaw <katsklaw@e03df62e-2008-0410-955e-edbf42e46eb7>
PhilSliderS <unknown@email.invalid>   Philouuu <philsliders@laptop.(none)>
PhilSliderS <unknown@email.invalid>   PhilSliderS <philsliders@laptop.(none)>
randomdan <unknown@email.invalid>     randomdan <randomdan@e03df62e-2008-0410-955e-edbf42e46eb7>
typobox43  <unknown@email.invalid>    typobox43 <typobox43@e03df62e-2008-0410-955e-edbf42e46eb7>
