
 _____                        _____   _____    _____      _
|_   _|                      |_   _| |  __ \  / ____|    | |
  | |    _ __    ___   _ __    | |   | |__) || |       __| |
  | |   | '_ \  / __| | '_ \   | |   |  _  / | |      / _` |
 _| |_  | | | | \__ \ | |_) | _| |_  | | \ \ | |____ | (_| |
|_____| |_| |_| |___/ | .__/ |_____| |_|  \_\ \_____| \__,_|
    __________________| |_______________________________
   |__________________|_|_______________________________|

                        Putting the ricer in IRCer since 2007

       //\ 
       V  \    WELCOME TO AN INSPIRCD NETWORK
        \  \_    If you see this, I am probably new
         \,'.`-.   If I'm not new, my owner is lazy.
          |\ `. `. 
          ( \  `. `-.                        _,.-:\
           \ \   `.  `-._             __..--' ,-';/
            \ `.   `-.   `-..___..---'   _.--' ,'/
             `. `.    `-._        __..--'    ,' /
               `. `-_     ``--..''       _.-' ,'
                 `-_ `-.___        __,--'   ,'
                    `-.__  `----"""    __.-'
                         `--..____..--'
  
        -- To change, see inspircd.motd.example --
       /                                          \
      /     * Web: http://www.inspircd.org         \
      |     * Blog: http://www.inspircd.com        |
      |     * IRC: irc.inspircd.org #inspircd      |
      |     * Docs: http://www.inspircd.org/wiki   |
      |                                            |
      | We hope you like this software. Please do  |
      | make  sure  you  put  some  effort  into   |
      | your configuration though so you like it.  |
      | Enjoy.                                     |
      |                                            |
      \                   -- The InspIRCd Team    /
       -------------------------------------------