Men are from Mars. Women are from Venus. Computers are from hell
Computer /nm./: a device designed to speed and automate errors
Hardware /nm./: the part of the computer that you can kick.
Maniac /n./ An early computer built by nuts.
RAM /abr./: Rarely Adequate Memory.
Programmer /n./ A red-eyed, mumbling mammal capable of conversing with inanimate objects
Multitasking /adj./ 3 PCs and a chair with wheels
Plonk /excl./: The sound a newbie makes as he falls to the bottom of a kill file
hURL /n./: a link to a web site that makes you want to puke
SUPERCOMPUTER: what it sounded like before you bought it.
If it's really a supercomputer, how come the bullets don't bounce off when I shoot it?  . The Covert Comic. 
A computer is like an Old Testament god, with a lot of rules and no mercy.  . Joseph Campbell
I dropped my computer on my foot! That Megahurtz!!
A computer's attention span is as long as it's power cord
586: The average IQ needed to understand a PC
Memory is like an orgasm. It's a lot better if you don't have to fake it
If it jams, force it. If it breaks, it needed replacing anyway.
A bus station is where a bus stops. A train station is where a train stops. On my desk I have a workstation..
Want to come see my HARD DRIVE ? I promise it isn't 3.5 inches and it ain't floppy.  . Geek pick-up line.
If you torture the data enough, it will confess.  . Ronald Coase
If you give someone a program, you will frustrate them for a day; if you teach them how to program, you will frustrate them for a lifetime
ASCII stupid question, get a stupid ANSI!
Use the source, Luke...
Programming is an art form that fights back
MacOS, Windows, BeOS: they're all just Xerox copies
Whenever you think you have a clever programming trick... forget it!
Managing senior programmers is like herding cats.  . Dave Platt
Your program is sick ! Shoot it and put it out of its memory
/* You are not expected to understand this */
To define recursion, we must first define recursion
ERROR: Computer possessed; Load EXOR.SYS ? [Y/N]
Linux is only free if your time is worthless
Linux: find out what you've been missing while you've been rebooting Windows NT
unzip; strip; touch; finger; mount; fsck; more; yes; unmount; sleep
Profanity is the one language all programmers know best
It's 5.50 a.m.... Do you know where your stack pointer is?
#define QUESTION ((bb) || !(bb))  . Shakespeare
The more I C, the less I see.
Confucius say: He who play in root, eventually kill tree.
Unix is the answer, but only if you phrase the question very carefully
C++: Hard to learn and built to stay that way
Java is, in many ways, C++--  . Michael Feldman.
They don't make bugs like Bunny anymore  . Olav Mjelde
If debugging is the process of removing software bugs, then programming must be the process of putting them in
When the only tool you own is a hammer, every problem you encounter resembles a nail
System Error: press F13 to continue...
To err is human, but for a real disaster you need a computer
Computers make very fast, very accurate mistakes
Life would be so much easier if we only had the source code
Who is this 'General Failure' and why is he reading my disk?
hAS aNYONE sEEN MY cAPSLOCK kEY?
InspIRCd, now with excessive ammounts of Cheeze
I'm in the computer business, I make Out-Of-Order signs
Kevorkian Virus: helps your computer shut down whenever it wants to.
          [OUT OF QUOTES, PLEASE ORDER MORE]
Insert Something Funkeh.. err.. There! -->
Cannot delete tmp150---3.tmp: There is not enough free disk space. Delete one or more files to free disk space, and then try again
File not found. Should I fake it ? (Y/N)
The definition of an upgrade: Take old bugs out, put new ones in
If it's not on fire, it's a software problem
It's a little-known fact that the Y1K problem caused the Dark Ages
Artificial Intelligence usually beats natural stupidity
Making fun of AOL users is like making fun of the kid in the wheel chair
Daddy, why doesn't this magnet pick up this floppy disk?
Daddy, what does FORMATTING DRIVE C mean?
See daddy ? All the keys are in alphabetical order now.
Enter any 11-digit prime number to continue...
ASCII and ye shall receive.
The web is a dominatrix. Every where I turn, I see little buttons ordering me to Submit.
<FrostyCoolSlug> NO, You cannot dial 999, I'm downloading my mail ;/
640K ought to be enough for anybody.  . Bill Gates, 1981
Windows not found, [P]arty, [C]elebrate, [D]rink?
English, the Microsoft of languages...
It's been said that Bill Gates named his company after his dick...
Ever notice how fast Windows runs ?  -- Neither did I
If at first you don't succeed, work for Microsoft
We are Microsoft. Resistance Is Futile. You Will Be Assimilated
"Microsoft Works."  . Oxymoron
Windows isn't a virus, viruses do something
PANIC! buffer = :NickServ WRITE_DB(3). <-- JUST KIDDING!
It just keeps going and going and going and going and goi <BANG>
All that I know is that nukes are comming from 127.0.0.1
I know all about the irc and the mirc cops.
M re ink n ed d, ple s  r fil
Please refrain from feeding the IRC Operators. Thank you.
I know all about mirc stuff, hmm.. I think this channel is experiencing packet loss..
MacDonalds claims Macintosh stole their next idea of the iMac
I can't hold her any longer, captain, she's gonna bl.. sorry, got caught up in the moment
I recommend purchasing a Cyrix CPU for testing nuclear meltdowns
Is it an international rule to have the worst picture possible on your driver license?
Have you hugged your services coder, today?
Ever wonder why they make the colon flash on alarm clocks?
Whats this?.. blue screen with a VXD error?!.. I'VE BEEN NUKED!
do-do-bop-doo-doo-do-do-doo.. For those of you who know that song, you have problems..
be wery wery quiet... hunting wabbit...
I've been IRC Nuked"Great warrior?  War does not make one great." - Yoda
"I find your lack of faith.....disturbing." - Darth Vader
"I have a bad feeling about this.."--All of the Star Wars characters.
Can I upgrade my Hard Drive to a WARP drive?
Canadian DOS prompt: EH?\>
Canadian DOS: "Yer sure, eh?" [y/n]
CONGRESS.SYS Corrupted: Re-boot Washington D.C (Y/n)?
I don't have a solution but I admire the problem.
Famous Last Words: Trust me. I know what I'm doing.
Hey Captain, I just created a black ho-÷p!%$û NO CARRIER
Access denied--nah nah na nah nah!
Bad command. Bad, bad command! Sit! Stay! Staaay..
Error: Keyboard not attached. Press F1 to continue.
*grumble* "You're just supposed to sit here?"
"Hey, what's this button d..<BOOM>" -W. Crusher
"He has become One with Himself!" "He's passed out!" "That too."-B5
For a funny quote, call back later.
Famous last words: 'You saw a WHAT around the corner?!'
I like work ... I can sit and watch it for hours.
Copywight 1994 Elmer Fudd. All wights wesewved.
Cannot find REALITY.SYS. Universe halted.
BUFFERS=20 FILES=15 2nd down, 4th quarter, 5 yards to go!
My software never has bugs. It just develops random features.
Why doesn't DOS ever say 'EXCELLENT command or filename!?
Shell to DOS... Come in DOS, do you copy? Shell to DOS...
Computing Definition - Network-Admin: Primary person who just got set up for the blame of the system crash.
An expert is a person who has made all the mistakes which can be made in a very narrow field.
Famous last words: This is the safe way to do it.......
Famous Last Words: Trust me. I know what I'm doing.
Clinton, "I didn't say that - er, well - yes, but I didn't mean..."
CLINTON LEGACY??...even Pharaoh had only ten plagues...
IBM             I Bought McIntosh
IBM             I Bring Manuals
IBM             I've Been Moved
IBM             Idolized By Management
IBM             Impenetrable Brain Matter
IBM             Imperialism By Marketing
IBM             Incorrigible Boisterous Mammoth
IBM             Inertia Breeds Mediocrity
IBM             Ingenuity Becomes Mysterious
IBM             Ingrained Batch Mentality
IBM             Innovation By Management
IBM             Insipid Belligerent Mossbacks
IBM             Insipidly Bankrolling Millions
IBM             Inspect Before Multiusing
IBM             Install Bigger Memory
IBM             Institution By Machiavelli
IBM             Insultingly Boring Merchandisers
IBM             Intellectuals Being Moronized
IBM             Intelligence Belittling Meaning
IBM             Intimidated, Buffaloed Management
IBM             Into Building Money
IBM             Intolerant of Beards & Moustaches
IBM             Invest Before Multi-tasking
IBM             Investigate Baffling Malodor
IBM             Irresponsible Behave Multinational
IBM             It Beats Mattel
IBM             It's a Big Mess
IBM             It's Better Manually
IBM             Itty Bitty Machine
IBM             Institute for Black Magic
100,000 lemmings can't be wrong.
Murphy's Eighth Law: If everything seems to be going well, you have obviously overlooked something.
Rules of the game: Do not believe in miracles - rely on them.
Rules of the game: Any given program, once running, is obsolete.
Computing Definition - Error: What someone else has made when they disagree with your computer output.
Backup not found: (A)bort (R)etry (P)anic
WinErr 653: Multitasking attempted - system confused.
Cannot join #real_life (invite only)
"Unfortunatly, no one can be told what the Matrix is. You have to see it for yourself." - Matrix
"Reality is a thing of the past" - Matrix
"The future will not be user friendly" - Matrix
"The general idea in chat is to make yourself understandable... ..." - Peer
"heh i am talkin to someone...she's not dead...yet anyways" - Stinky
"He who must die, must die in the dark, even though he sells candles"
"If at first you don't succeed, skydiving is not for you."
"Friendship is like peeing on yourself: everyone can see it, but only you get the warm feeling that it brings."
"France sucks, but Paris swallows"
"A computer once beat me at chess, but it was no match for me at kick boxing.
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?
"Don't think of it as being outnumbered. Think of it as having a wide target selection."
"Sysadmins can't be sued for malpractice, but surgeons don't have to deal with patients who install new versions of their own innards."
"FACE!"
"Dirka Dirka Mohammed JIHAD!"
We can learn much from wise words, little from wisecracks, and less from wise guys.
"Blessed are the young, for they shall inherit the national debt." - Herbert Hoover
If you have five dollars and Chuck Norris has five dollars, Chuck Norris has more money than you.
Apple pays Chuck Norris 99 cents every time he listens to a song.
If Chuck Norris and InspIRCd met in a dark alley, Chuck Norris would get his first black eye. Ever.
Chuck Norris can sneeze with his eyes open.
Chuck Norris can kill two stones with one bird.
There is no theory of evolution. Just a list of animals Chuck Norris allows to live. 
The Great Wall of China was originally created to keep Chuck Norris out. It failed miserably.
Chuck Norris can win a game of Connect Four in only three moves.
Chuck Norris is not hung like a horse... horses are hung like Chuck Norris.
Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs.
Chuck Norris CAN believe it's not butter.
Chuck Norris is so fast, he can run around the world and punch himself in the back of the head.
When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris.
Outer space exists because it's afraid to be on the same planet with Chuck Norris.
Chuck Norris counted to infinity - twice.
Chuck Norris only fears one thing in this world, and that is InspIRCd.
InspIRCd's core is ran by donated Chuck Norris DNA.
Chuck Norris exists because InspIRCd allows him to.
Chuck Norris CAN punch you in the face over the internet.
When Chuck Norris uses InspIRCd, he doesn't use the /kill command, he uses the /ROUND-HOUSE-TO-THE-FACE command.
A developer only classifies oneself as such if they consider themselves as such.
"While hunting in Africa, I shot an elephant in my pajamas. How an elephant got into my pajamas I'll never know." -- Groucho Marx
