 _____                        _____   _____    _____      _
|_   _|                      |_   _| |  __ \  / ____|    | |
  | |    _ __    ___   _ __    | |   | |__) || |       __| |
  | |   | '_ \  / __| | '_ \   | |   |  _  / | |      / _` |
 _| |_  | | | | \__ \ | |_) | _| |_  | | \ \ | |____ | (_| |
|_____| |_| |_| |___/ | .__/ |_____| |_|  \_\ \_____| \__,_|
 _____________________| |__________________________________
|_____________________|_|__________________________________|

                         \iPowering IRC communities since 2006\x

       //\
       V  \    \bWELCOME TO AN \c13I\c04N\c07S\c08P\c03I\c10R\c12C\c06D\c99 NETWORK\x
        \  \_    If you see this, I'm probably new.
         \,'.`-.   If I'm not new, my owner is lazy. ;-)
          |\ `. `.
          ( \  `. `-.                        _,.-:\
           \ \   `.  `-._             __..--' ,-';/
            \ `.   `-.   `-..___..---'   _.--' ,'/
             `. `.    `-._        __..--'    ,' /
               `. `-_     ``--..''       _.-' ,'
                 `-_ `-.___        __,--'   ,'
                    `-.__  `----"""    __.-'
                         `--..____..--'

      +-- To change this see \bopermotd.txt.example\x --+
      |                                             |
      |   * \bWeb:\x https://www.inspircd.org           |
      |   * \bIRC:\x irc.inspircd.org #inspircd         |
      |   * \bDocs:\x https://docs.inspircd.org         |
      |   * \bBugs:\x https://inspircd.org/bugs         |
      |                                             |
      | We hope you like this software.  Please do  |
      | make sure to customise your configuration,  |
      | though, so you love it.  Enjoy.             |
      |                                             |
      |                        -- The InspIRCd Team |
      +---------------------------------------------+
