Package: clandestine
Maintainer: Paige Thompson <paige@paige.bio>
Depends: utfcpp (>= -3.2.1), mbedtls (>= 2.28.1), http-parser (>=2.9.4-r2), qrencode (>=4.1.1), libmaxminddb (>=1.7.1), openldap (>=2.6.3-r7), argon2 (>=20190702-r1) mysql-connector-c (>=8.0.31), postgresql (>=14.5), libpcre (>=8.45-r1), re2 (>=0.2022.12.01)
