%platform linux
#
# InspIRCd -- Internet Relay Chat Daemon
#
#   Copyright (C) 2019 Robby <robby@chatbelgie.be>
#   Copyright (C) 2015 Attila Molnar <attilamolnar@hush.com>
#   Copyright (C) 2014, 2019-2020 Sadie Powell <sadie@witchery.services>
#
# This file is part of InspIRCd.  InspIRCd is free software: you can
# redistribute it and/or modify it under the terms of the GNU General Public
# License as published by the Free Software Foundation, version 2.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#


[Unit]
After=network.target
Description=InspIRCd - Internet Relay Chat Daemon
Documentation=https://docs.inspircd.org
After=network-online.target
Wants=network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=@BINARY_DIR@/inspircd --nofork --nopid
Restart=on-failure
Type=simple
%ifdef DISABLE_OWNERSHIP DynamicUser=yes
%ifndef DISABLE_OWNERSHIP User=@USER@
%ifndef DISABLE_OWNERSHIP Group=@GROUP@

[Install]
WantedBy=multi-user.target
