%platform darwin
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Iterations</key>
	<integer>3</integer>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.inspircd</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>1</integer>
	<key>Program</key>
	<string>@BINARY_DIR@/inspircd</string>
	<key>ProgramArguments</key>
	<array>
		<string>inspircd</string>
		<string>--nofork</string>
	</array>
	<key>ServiceIPC</key>
	<false/>
	<key>StandardOutPath</key>
	<string>@LOG_DIR@/launchd-stdout.log</string>
	<key>StandardErrorPath</key>
	<string>@LOG_DIR@/launchd-stderr.log</string>
	%ifndef DISABLE_OWNERSHIP <key>UserName</key>
	%ifndef DISABLE_OWNERSHIP <string>@USER@</string>
	%ifndef DISABLE_OWNERSHIP <key>GroupName</key>
	%ifndef DISABLE_OWNERSHIP <string>@GROUP@</string>
</dict>
</plist>
