# Aliases for nickserv, chanserv, operserv, memoserv
<alias text="NICKSERV" replace="PRIVMSG NickServ :$2-" requires="NickServ" uline="yes">
<alias text="CHANSERV" replace="PRIVMSG ChanServ :$2-" requires="ChanServ" uline="yes">
<alias text="OPERSERV" replace="PRIVMSG OperServ :$2-" requires="OperServ" uline="yes" operonly="yes">
<alias text="MEMOSERV" replace="PRIVMSG MemoServ :$2-" requires="MemoServ" uline="yes">
<alias text="GAMESERV" replace="PRIVMSG GameServ :$2-" requires="GameServ" uline="yes">
<alias text="BOTSERV" replace="PRIVMSG BotServ :$2-" requires="BotServ" uline="yes">
<alias text="HOSTSERV" replace="PRIVMSG HostServ :$2-" requires="HostServ" uline="yes">
<alias text="ALIS" replace="PRIVMSG ALIS :$2-" requires="ALIS" uline="yes">

# Shorthand aliases for nickserv, chanserv, operserv, memoserv
<alias text="NS" replace="PRIVMSG NickServ :$2-" requires="NickServ" uline="yes">
<alias text="CS" replace="PRIVMSG ChanServ :$2-" requires="ChanServ" uline="yes">
<alias text="OS" replace="PRIVMSG OperServ :$2-" requires="OperServ" uline="yes" operonly="yes">
<alias text="MS" replace="PRIVMSG MemoServ :$2-" requires="MemoServ" uline="yes">
<alias text="GS" replace="PRIVMSG GameServ :$2-" requires="GameServ" uline="yes">
<alias text="BS" replace="PRIVMSG BotServ :$2-" requires="BotServ" uline="yes">
<alias text="HS" replace="PRIVMSG HostServ :$2-" requires="HostServ" uline="yes">
<alias text="LS" replace="PRIVMSG ALIS :$2-" requires="ALIS" uline="yes">

# /id <password>
# Identify for a nickname
<alias text="ID" format="*" replace="PRIVMSG NickServ :IDENTIFY $2-" requires="NickServ" uline="yes">

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
# Services support module: Adds account tracking support.
#
# This module implements the 'identified' state via account names (AC)
# and is similar in operation to the way asuka and ircu handle services.
#
# Prior to 2.1, the functionality of m_account_flags and m_account_modes
# was included in this module; you probably want to load those too.
<module name="m_services_account.so">

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
# User and channel modes related to accounts.
#
# User mode +R      unidentified users cannot message
# Channel mode +R   unidentified users cannot join
# Channel mode +M   unidentified users cannot message
# Extban R:         match users based on account name
# 
# Note that the extban "M:" from 1.2 can be implemented using muteban
# and extban R like "+b m:R:name"
#
# If you use accounts, you will likely find this module useful.
<module name="m_account_modes.so">
