name: macOS CI
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: macos-latest
    env:
      CXXFLAGS: -I/usr/local/opt/openssl@1.1/include -Wno-error=deprecated-declarations
      LDFLAGS: -L/usr/local/opt/openssl@1.1/lib
      PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig:/usr/local/opt/sqlite/lib/pkgconfig
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          brew update
          brew upgrade
          brew install pkg-config gnutls libmaxminddb libpq mbedtls mysql-client openssl@1.1 pcre re2 sqlite tre
          brew link --force --overwrite libpq
          brew link --force --overwrite mysql-client
      - name: Run configure
        run: |
          ./configure --enable-extras "geo_maxmind ldap mysql pgsql regex_pcre regex_posix regex_re2 regex_tre sqlite3 ssl_gnutls ssl_mbedtls ssl_openssl sslrehashsignal"
          ./configure --development --disable-auto-extras --socketengine ${{ matrix.socketengine }}
      - name: Build core
        run: |
          INSPIRCD_TARGET=inspircd make --jobs $(($(sysctl -n hw.activecpu) + 1))
      - name: Build modules
        run: |
          INSPIRCD_TARGET=modules make --jobs $(($(sysctl -n hw.activecpu) + 1))
      - name: Install
        run: |
          make install
    strategy:
      fail-fast: false
      matrix:
        socketengine:
          - kqueue
          - poll
          - select
