name: Windows CI
on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip windows ci]')"
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1
        with:
          msbuild-architecture: x64

      - name: Setup Conan
        uses: turtlebrowser/get-conan@v1.2
        with:
          version: 1.60.1

      - name: Install libraries
        working-directory: ${{ github.workspace }}/win/build
        run: |
          (Get-Content ../conanfile.txt).replace('##', '') | Set-Content ../conanfile.txt
          conan install .. --build=missing

      - name: Run CMake
        working-directory: ${{ github.workspace }}/win/build
        env:
          LDFLAGS: /DEBUG:FASTLINK /INCREMENTAL
        run: |
          cmake -A x64 -G "Visual Studio 16 2019" -Wdev ..

      - name: Build InspIRCd
        working-directory: ${{ github.workspace }}/win/build
        run: |
          msbuild PACKAGE.vcxproj /M:3 /P:Configuration=Release /P:Platform=x64 /VERBOSITY:MINIMAL
